

*{
    margin: 0%;
    padding: 0%;
}

.navigetion{
    background-color: darkorange;
    height: 12rem;
}
 
 .serical{
    width: 140px;
    height: 140px;
    margin-top: 150px;
} 


.aadil{
    margin-left: 23%;
    color: green;
}



.star{
    margin-top: -26%;
    margin-left: 25%;
}

small{
    font-size: 15px;
}


 .icon1{
    width: 50px;
    height: 50px;
    margin-bottom: 20%;
    margin-left: 3%;
    flex-direction: column;
}



.about{
    width: 50px;
    height: 50px;
    margin-bottom: 20%;
    margin-left: 3%;
}


.icon2{
    width: 50px;
    height: 50px;
    margin-bottom: 20%;
    margin-left: 3%;

}

.main-div{
    margin-left: 50%;
    margin-bottom: 20%;
    display: flex;
}  


.logo{
margin-left: 15%;
margin-top: -34%;
}

.number{
    color: #61122f;
    font-size: 2rem;
}

 .main-pic{
    margin-top: 2rem;
    border-radius: 8px;
    margin-left: 17%;
      
} 

body{
    background-color: #61122f; 
}
.map1{
    height: 15.64rem;
    width: 22rem;
}


.all{
    display: flex;
    margin-top: 2rem;
    margin-left: 19.6%
}

.food{
    margin-left: -42px;
    box-sizing: border-box; 
    


}

.specials-tile{
    margin-left: 40px;
}

.map1{
    margin-left: 50px;
}


.footer{
    background-color: rgb(46, 44, 44);
    margin-top: 4%;
}

.one{
    color: white;
    margin-top: 50px;
    margin-right: 30px;
    
}

.two{
    color: white;
    margin-top: 50px;
    margin-right: 30px;
}

.three{
    color: white;
    margin-top: 50px;
}

h3{
    font-size: -2.5rem;
    margin-bottom: 8px;
}

.hours{
    line-height: 2;
    margin-right: 25px;
}

.address{
    line-height: 2;
    margin-right: 25px;
}


.thrid{
    line-height: 2;
}

.element{
    margin-top: 25px;
}

.small{
    color: green;
    
}


.end{
    margin-left: 20%;
    display: flex;
}

.phone{
    width: 1.9rem;
    height: 1.9rem;
}

.we{
    color: green;
    margin-top: 40px;
    margin-right: 20px;
}



.transbox{
    margin: -28px;
    background-color:black;
    border: 1px solid black;
    opacity: 0.8;
    text-align: center;
    margin-right: 25px;
    margin-left: -42px;
    width: 22.36rem;
    height: 3rem;
    margin-bottom: -23%;
}

.transbox-two{
    margin: -31px;
    background-color:black;
    border: 1px solid black;
    opacity: 0.8;
    text-align: center;
    width: 22.38rem;
    height: 3rem;
    margin-left: 39px;
}



.transbox-three{
    margin: -31px;
    background-color:black;
    border: 1px solid black;
    opacity: 0.6;
    text-align: center;
    width: 22.0rem;
    height: 3rem;
    margin-left: 48px;
}
 
.Frist{
    width: -40%;
    height: 3rem;
    color: white;
    font-size: 1.77rem;  
}

.specials{
    width: -40%;
    height: 3rem;
    color: white;
    font-size: 1.77rem;  
}


.map{

    width: -40%;
    height: 3rem;
    color: white;
    font-size: 1.77rem;  
}



















@media(max-width:750px){
    html{
        font-size: 55%;
    }


    .navigetion{
        background-color: darkorange;
        height: 56rem;
        width: 40rem;
    }

    .serical{
        display: none;
        margin-bottom: 4rem;
    }
    
    .aadil{
        margin-left: 17%;
        color: green;
    }
    .star{
        margin-top: -105%;
        margin-left: 15%;
    }
    
    small{
        font-size: 1rem;
    }
    .icon1{
        width: 50px;
        height: 50px;
        
        
    }
    
    .about{
        width: 50px;
        height: 50px;
    
    }
    
    .icon2{
        width: 50px;
        height: 50px;
    
    }

     .main-div{
        margin-left: 40%;
        margin-bottom: 10%;
        flex-direction: column;
    }

    .logo{
        
    margin-left: 15%;
    margin-top: -30%;
    }

    .number{
        color: #61122f;
        font-size: 2rem;
        padding-right: 20px;
    }
 
    .main-pic{
        margin-top: 2rem;
        border-radius: 4px;
        margin-left: 3%;
        max-width: 93%;
        height: auto;

    }

    body{
        background-color: #61122f; 
    }


    .all{
        flex-direction: column;
        margin-top: 2rem;
        margin-left: 20%;
    }
    
    .food{
        margin-bottom: 30px;
        margin-left: -55px;
        max-width: 114%;
        height: auto;
        border-radius: 2px;
    
    
    }
    

    .specials-tile{
        margin-top: -5%;
        margin-left: -55px;
        max-width: 114%;
        height: auto;
        border-radius: 2px;
        padding: 2%;
    }
    
    .map1{
        margin-top: 20%;
        margin-left: -55px;
        width: 114%;
        height: 70%;
        border-radius: 2px;
        padding: 2%;
    }
    p{
        margin-bottom: 20px;
        font-size: 20px;
        color: #61122f; 
    }
    

    .footer{
        margin-top: 4%;
    }
    
    .one{
        color: white;
        margin-top: 50px;
        margin-right: 30px;
        flex-direction: column;
    }
    
    .two{
        color: white;
        margin-top: 50px;
        margin-right: 30px;
        flex-direction: column;
    }
    
    .three{
        color: white;
        margin-top: 50px;
        flex-direction: column;
    }
    
    h3{
        font-size: 2rem;
        margin-bottom: 8px;
        flex-direction: column;
    }
    
    .hours{
        line-height: 2;
        margin-right: 10px;
        flex-direction: column;
        color: white;
        font-size: medium;

    }
    
    .address{
        line-height: 2;
        flex-direction: column;
        color: white;
        font-size: medium;
    }
    
    
    .thrid{
        line-height: 2;
        flex-direction: column;
        font-size: medium;
        color: white;

    }
    
    .element{
    
        line-height: 2;
        flex-direction: column;
        font-size: medium;
        color: white;

    }
    
    .small{
        color: green;
        flex-direction: column;
        font-size: 1.56rem;
        margin-bottom: 20%;   
    }
    
    
    .end{
        margin-left: 20%;
        display: flex;
        flex-direction: column;
        font-size: medium;

    }

    .we{
        color: green;
        margin-top: 63px;
        margin-right: 20px;
    }
    


.transbox{
    margin: -38px;
    background-color: black;
    border: 1px solid black;
    opacity: 0.8;
    text-align: center;
    margin-right: 25px;
    margin-left: -55px;
    width: 36.36rem;
    height: 3rem;
    margin-bottom: 30px;
}

.transbox-two{
    margin: -31px;
    background-color: black;
    border: 1px solid black;
    opacity: 0.8;
    text-align: center;
    width: 36.41rem;
    height: 3rem;
    margin-left: -50px;
}



.transbox-three{
    margin: -31px;
    background-color: black;
    border: 1px solid black;
    opacity: 0.8;
    text-align: center;
    width: 36.30rem;
    height: 3rem;
    margin-left: -49px;
}
 

.Frist{
    width: -40%;
    height: 3rem;
    color: white;
    font-size: 1.77rem;  
}

.specials{
    width: -40%;
    height: 3rem;
    color: white;
    font-size: 1.77rem;  
}


.map{

    width: -40%;
    height: 3rem;
    color: white;
    font-size: 1.77rem;  
}


    
}   
    

